# Required
AMP_USERNAME=
AMP_PASSWORD=
SSH_HOST=debian@your-host

# Optional
AMP_INSTANCE_PORT=8081
MODS_PATH=/home/amp/.ampdata/instances/YourInstance/Minecraft/mods
CONFIG_PATH=/home/amp/.ampdata/instances/YourInstance/Minecraft/config
LOGS_PATH=/home/amp/.ampdata/instances/YourInstance/Minecraft/logs/latest.log
